version: "3.9"
services:
  backend:
    build: ./api
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app

  frontend:
    build: ./client
    container_name: react_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend