.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
  margin: 30px auto;
}

.selectContainer {
  width: 500px;
  position: relative;
  font-family: Arial, sans-serif;
}

.selectBox {
  padding: 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #2d2d2d;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectBox:hover {
  background-color: #444;
}

.dropdownArrow {
  margin-left: 8px;
  font-size: 12px;
}

.optionsList {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #2d2d2d;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  border-radius: 8px;
  margin-top: 4px;
}

.optionItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionItem:hover {
  background-color: #4d4d4d;
}

.selected {
  color: white;
}

.checkmark {
  font-size: 16px;
  color: #007bff;
}